# Compiler files
cache/
out/
zkout/

broadcast

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Node modules
node_modules/

# Bun
pnpm-lock.yaml
yarn.lock
package-lock.json
node_modules
.env

# Hardhat files
/cache
/artifacts
/artifacts-zk
/cache_hardhat
/cache_hardhat-zk
/deployments-zk

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

ignition/deployments

.venv