# Compiler files
cache/
out/
zkout/

broadcast

# Docs
docs/

# Dotenv file
.env
.env.cicd

# Node modules
node_modules/

# Bun
pnpm-lock.yaml
yarn.lock
package-lock.json
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
